body {
	font-family: 'Roboto', sans-serif; 
}
	li a{
	font-size: 30px;
	color: black;						
	list-style-position: outside;
}
ul {
	list-style-type: normal;
}

.kook1{
	margin-left:0px;
	border: solid black;
}

li a:hover{
	color: red;
}
.halloween{
	border: solid black;
}

.container{
	width: 950px;
	margin: 0 auto;
}

.font1{
	font line-height: 26px;
}

.tomaten{
	border: solid black;
	margin-left: 550px;
}
.lijstje{
	line-height: 26px;
}

.lijstje1{
	line-height: 26px;
}

.gb{
	line-height: 36px;
}

.bereidingswijze{
	line-height: 36px;
}

.TipBox{
	border: #def6ed solid 10px;
	background-color: #def6ed;
	width: 900px;
	padding: 20px;
}